body {
	font-family: helvetica, sans-serif; 
	background-color: lightgrey;


}

#page {
	width: 800px;
	background-color: white;
	margin: 0 auto;
	padding: 50px;
	border: 2px solid darkgrey;
	position: relative;
}

h1 {
	color: blue;
	text-align: center;
	margin-bottom: 0;
}

h2 {
	color: blue;
	border-bottom: 2px solid darkgrey;
	font-size: 20px;
}

h3{
	font-size: 18px;
}

ul{
	font-size: 17px;
}
#home-address{
	text-align: center; 
	padding: 10px;
	margin-top: -5px;
	font-size: 15px;
}

.position{
	font-style: italic;
}



.location{
	color: red;
	position: absolute;
	right : 50px;
}

.details{
	font-weight: normal;
}